/***************************************************/
/***  Admin Styles for Under Construction plugin ***/
/***************************************************/

.enable_check { background: #fff; border-radius: 6px; padding: 15px 15px 15px 70px; position: relative; margin: 10px 0 25px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
	-o-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1); }
.enable_check:after { position: absolute; top: 0; left: 0; bottom: 0; width: 55px; text-align: center; border-radius: 5px 0 0 5px; background: #3b8e1e; font-family:"dashicons"; content: "\f111"; font-size: 25px; color: #fff; padding: 16px 0 0;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2); }
.enable_check p { margin: 0; }
.enable_check.disabled:after { background: #9c2e29; }


/*** Form field styling ***/

.tooltip { border: 2px solid #aaa; color: #aaa; font-weight: bold; text-align: center; line-height: 13px; font-size: 12px; height: 13px; width: 13px; display: inline-block;
	border-radius: 50%;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%; }

.uuc-title { border-bottom: 1px solid #ccc; background: #F5F5F5; padding: 8px; margin: 20px 0; background: -moz-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f1f1f1 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f1f1f1 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f1f1f1 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom, #f1f1f1 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */ }

#wpfooter { display:none !important; visibility: hidden !important; }

.uuc-holdingpage h1 { text-align: center; }

ul { list-style-type: none; }

.social-media li { display: inline; }

.no-js h2.nav-tab-wrapper {
	display:none;
}

.no-js #sections {
	border-top:1px solid #ccc;
	margin-top:22px;
}

.no-js section {
	border-top: 1px dashed #aaa;
	margin-top:22px;
	padding-top:22px;
}

.no-js section:first-child {
	margin:0px;
	padding:0px;
	border:0px;
}
